@page
@model todoWeb.Pages.Tasks.TaskItems.EditModel
@{
    ViewData["Title"] = "Edit task";
}

<div class="row">
    <div class="col-md-4">
        <form id="editTask" method="post">
            <h2>@ViewData["Title"]</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3" lang="pl">
                <input asp-for="TaskDescription" class="form-control"/>
                <label asp-for="TaskDescription">Task description</label>
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <input asp-for="TaskId"/>
            <button id="editSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}