@page
@model todoWeb.Pages.Tasks.TaskDays.CreateModel
@{
    ViewData["Title"] = "Add task day";
}

<div class="row">
    <div class="col-md-4">
        <form id="createTaskDay" method="post">
            <h2>@ViewData["Title"]</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3" lang="pl">
                <input asp-for="InputDate" class="form-control"/>
                <label asp-for="InputDate">Date</label>
                <span asp-validation-for="InputDate" class="text-danger"></span>
            </div>
            <button id="createSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}